<%= form_for(@reading) do |f| %>
  <div class="form-group">
    <%= f.text_area :content, placeholder: "Compose new reading...", class: "form-control" %>
  </div>
  <%= f.hidden_field :request_id, :value => @request.id %>

  <%= f.submit "Add Reading", class: "btn btn-lg btn-primary" %>
<% end %>