<%= form_for @request, :html => {:multipart => true} do |f| %>
  <div class="form-group">
    <%= f.text_area :content, placeholder: "Compose new readings request...", class: "form-control" %></br>
    <i class="fa fa-picture-o"></i> Add your picture here
    <%= f.file_field :avatar %>
  </div>

  <%= f.submit "Add Request", class: "btn btn-lg btn-primary" %>
<% end %>