<h1>
  <%= current_user.username.capitalize %>
</h1>
<p>
  <%= link_to "edit my profile", edit_user_registration_path %>
</p>
<p>
  <i class="fa fa-sign-in"></i> <%= pluralize(current_user.requests.count, "Reading Request") %></br>

  <% if current_user.reader? %>
  <i class="fa fa-sign-out"></i> <%= pluralize(current_user.readings.count, "Given Reading") %>
  <% end %>
</p>

