<h1>
  <%= current_user.username.capitalize %>
</h1>
<p>
  <%= link_to "edit my profile", edit_user_registration_path %>
</p>
<p>
  <%= pluralize(current_user.requests.count, "Reading Request") %></br>
  <%#= pluralize(current_user.readings.count, "Given Reading") %>
</p>

