<% title("About Reading Intelligence") %>
<div class="jumbotron">
  <h1>Reading Intelligence</h1>
  <h3>Sangha Technology</h3>
</div>

 <div class="container">
  <div class="row">
     <div class="col-md-10">
      <div class="page-header">
        <h1>The Project</h1>
      </div>
      <p class="lead">Reading Intelligence is a digital infrastructure, where readings can be requested and answered within a short frame of time. Every reading request is sent to a pool of 20-30 people from the Sharing-the-Presence-Field, who offer their intuitive intelligence as a free service. As a user, you post your problem or question via Smartphone or Notebook, take a picture of yourself as an “energetical footprint” and send your request through the net. Within 24 hours you will get two reading from different people out of the reader-pool, to whom you can give a feedback via a special rating-resonance system.  </p>

      <p class="lead">The impulse to initiate the project came from the experience that giving readings is not only a powerful and highly valuable service to the community but it also deepens the subtle competencies of the reader and often comes along with a natural sense of joy and aliveness. Therefore, readings are not about Person A getting something from Person B, but rather about a mutual allowance for information to arise within the relational space and more. 
Readings create energetical win-win situations where both parties profit from a deepening and opening of intelligence. So why not use the motivation of so many people in the field to practice and deepen their reading abilities while offering it as a service to the community at the same time?  </p>

<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>

    </div>
  </div>
</div>