<div class="row">
  <div class="col-md-8">
    <% if current_user.reader? %>
    <div class="panel panel-default">
  <div class="panel-body">
    <p class="lead">Information for the Readers</p>
    <p>
      First of all, thank you for your willingness to offer your intuitive intelligence in service for the community! As you can see, we decided to start the project in English right away, in order to make it available to a larger group of our sangha. For all of you who have difficulties with the language, we hope that you can find a way to work through the website with some help and participate nevertheless. You are absolutely welcome to be part of the pool of readers and give readings in German, as long as the request comes from a German speaking user. 
For a brief overview of our project idea, please read the attached PDF. </br></br>
In addition, there are some conditions in terms of commitment that it needs to participate: </br>
1. Willingness and time to respond to a approx. 2 requests a week. </br>
2. Openness for feedback (for us and for …)
    </p>
    </br>
  </div>
</div>
    
    <% end %>





    <p class="lead">Frequently asked questions</p>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Who is giving the Readings?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        The pool of readers consists of 20-30 people who are part of the Sharing the Presence Field and who offer their intuitive abilities as a free service to the community. Every request will receive two readings from different readers within 48 hours.  
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          What kind of requests can I submit?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        There are different kinds of requests you can play with. You can either post a specific question that is working in you at the moment (e.g. “What do I need to see in order to find clarity in my work?”) or you can ask for a more general reading on yourself (e.g. “What is my core potential in life?”). If you want, you can also post a drawing you made or a poem you wrote. Keep in mind that the more alive the question, the deeper the reading can be. Whatever is really moving you, can be worth a try. 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Why do I have to send a picture?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        The reason why it makes sense to submit a picture is that it allows the reader to tap deeper into your energy field and to get information through another channel than just through your words. It is best when the picture is taken from the very moment you post your request. However, you can also post any other picture of you. 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Who sees my requests and Readings?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        Everybody who has an account to READING INTELLIGENCE can see your request and also the readings that you received. The rating that you give to the reading as a feedback is only visible for the reader him/herself. 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
          What is the right attitude to receive a reading?
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse">
      <div class="panel-body">
        A reading does not tell the truth, however it can feel deeply truthful to you. It depicts a window of information that is running through your system at this given point in time. The quality of a reading is only determined by your own subjective perspective and the resonance it has in you. So please take what you can use and let go everything that does not make sense for you.  
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
          Why shall I give a Rating?
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
        The Rating-Resonance-Procedure has three purposes. First, it offers you the opportunity to check what the reading did for you and in which way you felt seen by it. Secondly, it serves as a feedback for the reader. Thirdly, it gives us the opportunity to research the “architecture of readings” and to explore the principles of inner science that might contribute to the impact of a reading and the different facets it can have.   
      </div>
    </div>
  </div>

</div>

  </div>
</div>
