<div class="row">
  <div class="col-md-8">
    <% if current_user.reader? %>
    <div class="panel panel-default">
  <div class="panel-body">
    <p class="lead">Information for the Readers</p>
    <p>
      First of all, thank you for your willingness to offer your intuitive intelligence in service for the community! As you can see, we decided to start the project in English right away, in order to make it available to a larger group of our sangha. For all of you who have difficulties with the language, we hope that you can find a way to work through the website with some help and participate nevertheless. You are absolutely welcome to be part of the pool of readers and give readings in German, as long as the request comes from a German speaking user. 
For a brief overview of our project idea, please read the attached PDF. </br></br>
In addition, there are some conditions in terms of commitment that it needs to participate: </br>
1. Willingness and time to respond to a approx. 2 requests a week. </br>
2. Openness for feedback (for us and for …)
    </p>
    </br>
  </div>
</div>
    
    <% end %>





    <p class="lead">Frequently asked questions</p>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Who is giving the Readings?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        The pool of readers consists of 20-30 people who are part of the Sharing the Presence Field and who offer their intuitive abilities as a free service to the community. With every request there will a limit of 2 readings in return, in order to keep the information digestible. 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          What kind of requests can I submit?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        There are different varieties of requests with which you can play. You can either post a specific question that is working in you at the moment (e.g. “What do I need to see in order to find clarity in my work?”) or you can ask for a more general reading on yourself (e.g. “What is my core potential in life?”). Whatever you chose, keep in mind that the deeper the question, the deeper the answer can be. Whatever is really alive in you is suitable. 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Why do I have to send a picture?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        First of all, it is voluntary to submit a picture, so please feel absolutely free. The reason why it makes sense to submit a picture, is that it allows the reader to tap deeper into you energy field and to get information through another channel than just through the words. If you submit a picture, it is best when the picture is taken from the very moment you post your request. 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Who sees my requests and Readings?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        Everybody who has an account to READING INTELLIGENCE can see you request and also the Readings that you received from the readers. The rating that you give to the reading as a feedback is only visible for the reader him/herself. 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          Why shall I give a rating?
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        The rating-procedure has three purposes. First, it offers you the opportunity to check what the reading did for you and in which way you felt seen by it. Secondly, it serves as a feedback for the reader. Thirdly, it gives us the opportunity to research the “architecture of readings” and explore the principles of inner science that might contribute to the impact of a reading and the different facets it can have. 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
          Why shall I give a Rating?
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
        The Rating-Resonance-Procedure has three purposes. First, it offers you the opportunity to check what the reading did for you and in which way you felt seen by it. Secondly, it serves as a feedback for the reader. Thirdly, it gives us the opportunity to research the “architecture of readings” and to explore the principles of inner science that might contribute to the impact of a reading and the different facets it can have.   
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
          What is the right attitude to receive a reading?
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse">
      <div class="panel-body">
        A reading depicts a window in time and space of an everchanging process of information that is running through your system. That is, a reading does not tell the truth, also it can feel deeply truthful to you. Maybe you can look at it as a stream of a river that lets boats flow by and you pick whatever feels right to you and let go of everything that does not resonate.  
      </div>
    </div>
  </div>

</div>

  </div>
</div>