<% title("Home Page") %>
<div class="jumbotron">
  <h1>Reading Intelligence</h1>
  <h2>Sangha Technology</h2>
  <%= link_to "Read more ...", "about", class: "btn btn-md btn-primary" %>
</div>

<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>1. Request</h2>
          <p>          	
            
            	Formulate your request in a few sentences.</br>
            	Take a photo of yourself and upload it.</br>
          	Click submit.	
          </p>
        </div>
        <div class="col-md-4">
          <h2>2. Reading</h2>
          <p>	
            Your request will be open and visible for all readers.</br>
          	When you received two readings by different readers, the request will be closed.
          	        	
          </p>
       </div>
        <div class="col-md-4">
          <h2>3. Resonance</h2>
          <p>          	
            Share your resonance by rating the reading, answering 5 questions.          	       	
          </p>
        </div>
    </div>
</br>
</br>


		<div class="col-md-2">
          <i class="fa fa-rocket fa-5x"></i>
        </div>
		<div class="col-md-8">
        <blockquote>
        	<p>
        		„With Reading Intelligence we want to combine the joy and spiritual deepening of giving readings with its service to the community”
        	</p></blockquote>
        </div>

      
      </div>