<% title("Home Page") %>
<div class="jumbotron">
  <h1>Reading Intelligence</h1>
  <h3>Sangha Technology</h3>
</div>

<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>1. Request</h2>
          <p>          	
            Jump in by formulating your request within a few sentences, upload a picture of yourself and submit your “energetic footprint” through the net.</br>
          </p>
        </div>
        <div class="col-md-4">
          <h2>2. Reading</h2>
          <p>	
            Within 48 hours, the field will respond to you in the form of two readings from two different readers.
          </p>
       </div>
        <div class="col-md-4">
          <h2>3. Resonance</h2>
          <p>          	
            Close the loop by sharing you resonance with reader in your own words and by answering 5 questions.
          </p>
          <%= link_to "Read more ...", "about", class: "btn btn-md btn-primary" %>
        </div>
    </div>
</br>
</br>


		<div class="col-md-2">
          <i class="fa fa-rocket fa-5x"></i>
        </div>
		<div class="col-md-8">
        <blockquote>
        	<p>
        		„With Reading Intelligence we want to combine the joy and spiritual deepening of giving readings with its service to the community”
        	</p></blockquote>
        </div>

      
      </div>
