<% title("Home Page") %>
<div class="jumbotron">
  <h1>Hello, Sangha!</h1>
  <p>This is your next step for taking the intelligence of the Thomas Hübl Sangha into action.</p>
  <p>Send requests for a reading. It´s so easy. Upload a picture, add a short info to that. That´s it!</p>
  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>