<% title("Internal Home Page") %>

<div class="row">
  <div class="col-md-4">
    <%= render 'shared/user_info' %>

    <%= render 'shared/request_form' %>
  </div>

  <div class="col-md-8">
    <% if @requests.any? %>
      <h3>All Reading Requests (<%= @requests.count %>)</h3>
      <%= render @requests %>

	<% end %>

  </div>
</div>