<% title("Requests") %>

<div class="row">
  <div class="col-md-4">
    <%= render 'shared/user_info' %>

    <%#= render 'shared/request_form' %>

    <%= link_to "Create a Request!", new_request_path, class: "btn btn-lg btn-primary" %>
  </div>

  <div class="col-md-8">
    <% if @requests.any? %>
      <h3>All Reading Requests <%#= @requests.count %></h3>
      <%#= render @requests %>
      <%= render 'shared/request' %>
	<% end %>
  
  <div class="text-center">
    <p><%#= page_entries_info @requests %></p>
    <%= paginate @requests %>
  </div>
  </div>
</div>